/* 
====================================================================
CSS styling for Alert Monitor page
section: body
====================================================================
*/

body {
  /*background: #eaf3fe !important;*/
  /* background: #3b4252; */
  overflow-x: hidden;
}


.container-fluid {
  background: none;
  border: 0 none rgb(33, 37, 41);
  padding: 0 0 0 0;
  
}

 section {
  padding: 100px 0 100px
}

/* @media(max-width:768px) {
  body {
    margin: 10px
  }

  section {
    padding: 50px 0 50px
  }
}
 */
html {
    width: 100%;
}