{% extends "base.html" %}

{% block content %}
<div class="container-fluid p-0">
    <div class="container-fluid" style="background-color: #312139; color: #ffffff; padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="col">
                <h5 class="display-6 text-light ps-3 pt-2">
                    <a href="/" style="text-decoration:none; color:inherit;">Dashboard</a>
                </h5>
            </div>
        </div>
    </div>

    <!-- Add margin between nav tabs and tab content -->
    <div class="mt-4"></div>

    <!-- Category Tables -->
    {% for category in categories %}
        <h5 class="mt-4">{{ category }}</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Link 1</th>
                    <th scope="col">Link 2</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    {% if device.Category == category %}
                        <tr>
                            <td>{{ device.Label }}</td>
                            <td><img src="{{ device.Icon }}" class="img-fluid" alt="{{ device.Label }}" style="width: 40px; height: 40px;"></td>
                            <td><a href="{{ device.Link1 }}" target="_blank" rel="noopener noreferrer">Link 1</a></td>
                            <td><a href="{{ device.Link2 }}" target="_blank" rel="noopener noreferrer">Link 2</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>

{% endblock %}
