{% extends "base.html" %}

{% block content %}
<div class="container-fluid p-0">
    <div class="container-fluid" style="background-color: #312139; color: #ffffff; padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="col">
                <h5 class="display-6 text-light ps-3 pt-2">
                    <a href="/" style="text-decoration:none; color:inherit;">Dashboard</a>
                </h5>
            </div>
        </div>
    </div>

    <!-- Add margin between nav tabs and tab content -->
    <div class="mt-4"></div>

    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="categoryTabs">
        {% set categories = [] %}
        {% for device in devices %}
            {% if device.Category not in categories %}
                <li class="nav-item">
                    <a class="nav-link{% if loop.first %} active{% endif %}" id="{{ device.Category|lower }}-tab" data-bs-toggle="tab" href="#{{ device.Category|lower }}-content">
                        {{ device.Category }}
                    </a>
                </li>
                {% set _ = categories.append(device.Category) %}
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3">
        {% for category in categories %}
            <div class="tab-pane fade{% if loop.first %} show active{% endif %}" id="{{ category|lower }}-content">
                <div class="row row-cols-1 row-cols-md-4 g-3">
                    {% for device in devices %}
                        {% if device.Category == category %}
                            <div class="col device-item">
                                <div class="grid-item text-left bg-light p-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="{{ device.Icon }}" class="img-fluid" alt="{{ device.Label }}" style="width: 80px; height: 80px;">
                                        </div>
                                        <div class="col-8">
                                            <h6 class="mb-0">{{ device.Label }}</h6>
                                            <p class="mb-0 text-muted">{{ device.Category }}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-6">
                                            <a href="{{ device.Link1 }}" target="_blank" rel="noopener noreferrer">Link 1</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="{{ device.Link2 }}" target="_blank" rel="noopener noreferrer">Link 2</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
