<!doctype html>
<html>
  <head>
    <title>
		{{title}}
	</title>
	<meta http-equiv="refresh" content="60">
	<link rel="icon" type="image/x-icon" href="/static/logos/Globe.png">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles_body.css') }}">
	
	
  </head>
  <body>
  
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
	
	<script  rel="text/javascript" charset="utf8" src="{{ url_for('static', filename='javascripts/jquery-3.6.0.min.js') }}"></script>
	<script rel="text/javascript" charset="utf8" src="{{ url_for('static', filename='javascripts/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
