{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid">
      


	<div class="container-fluid" style="background-color:#312139;">
	  <div class="row">
		<div class="col">
		  <h5 class="display-6 text-white ps-3 pt-2"><a href="/" style="text-decoration:none; color:inherit;">Dashboard  </a></h5>
		</div>
	  </div>
	</div>


	<div class="container mx-3 my-3 my-3">
	<div class="row justify-content-center">
<div class="col-auto">
  	<table class="table table-bordered table-responsive">
<thead>
  <tr class="text-center text-white" style="background-color:#67397a;">
    <th>Category</th>
    <th>Links</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Network Management</td>
    <td><a href="/network" target="_blank" rel="noopener noreferrer"><img width="30px" height="30px" src="static/logos/Arrow.svg"></img> </a></td>
  </tr>
  <tr>
    <td>Remote Access Management</td>
    <td><a href="/remote_access" target="_blank" rel="noopener noreferrer"><img width="30px" height="30px" src="static/logos/Arrow.svg"></img> </a></td>
  </tr>
  <tr>
    <td>Infrastructure Management</td>
    <td><a href="/infrastructure" target="_blank" rel="noopener noreferrer"><img width="30px" height="30px" src="static/logos/Arrow.svg"></img> </a></td>
  </tr>
  <tr>
    <td>Storage Management</td>
    <td><a href="/storage" target="_blank" rel="noopener noreferrer"><img width="30px" height="30px" src="static/logos/Arrow.svg"></img> </a></td>
  </tr>
  <tr>
    <td>Virtual Machine Management</td>
    <td><a href="/virtual_machines" target="_blank" rel="noopener noreferrer"><img width="30px" height="30px" src="static/logos/Arrow.svg"></img> </a></td>
  </tr>
  <tr>
    <td>Service Monitor</td>
    <td><a href="/service_monitor" target="_blank" rel="noopener noreferrer"><img width="30px" height="30px" src="static/logos/Arrow.svg"></img> </a></td>
  </tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
