{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid">
      


	<div class="container-fluid" style="background-color:#312139;">
	  <div class="row">
		<div class="col">
		  <h5 class="display-6 text-white ps-3 pt-2"><a href="/" style="text-decoration:none; color:inherit;"> Dashboard  </a></h5>
		</div>
	  </div>
	</div>


<!-- Nav tabs -->
		
<ul class="nav nav-tabs">
		{% for name, attr in my_dict_1.items() %}
        {% if attr == "infrastructure" %}
            <li class="nav-item">
                <a class="nav-link active"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% endif %}
		{% endfor %}
</ul>

<!-- Tab panes -->

		<div class="container mx-3 my-3">
		<!-- ################################# -->
		<!-- Settings for cockpit goes here -->
		<!-- ################################# -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Cockpit</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPBTH001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Cockpit.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plpbth001.cockpit.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.10:9090" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Cockpit.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plplbr001.cockpit.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.50:9090" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR002</h5>
							<h2><img width="80px" height="80px" src="static/logos/Cockpit.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plpbth002.cockpit.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.60:9090" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for monit goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Monit</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPBTH001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Monit.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plpbth001.monit.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.10:2812" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Monit.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plplbr001.monit.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.50:2812" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR002</h5>
							<h2><img width="80px" height="80px" src="static/logos/Monit.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plplbr001.monit.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.60:2812" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for Zabbix goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Zabbix</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Zabbix Prod</h5>
							<h2><img width="80px" height="80px" src="static/logos/Zabbix.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet0.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://192.168.1.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Zabbix Dev</h5>
							<h2><img width="80px" height="80px" src="static/logos/Zabbix.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet1.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for Alert Monitor goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Alert Monitor</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Alert Monitor <br>Prod</h5>
							<h2><img width="80px" height="80px" src="static/logos/Alert.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet0.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://192.168.1.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Alert Monitor <br>Dev</h5>
							<h2><img width="80px" height="80px" src="static/logos/Alert.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet1.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for Grafana goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Grafana</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Grafana Prod</h5>
							<h2><img width="80px" height="80px" src="static/logos/Grafana.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet0.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://192.168.1.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Grafana Dev</h5>
							<h2><img width="80px" height="80px" src="static/logos/Grafana.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet1.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for haproxy goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Haproxy</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Haproxy.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet0.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://192.168.1.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for pihole goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Pi-Hole</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Pihole.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plplbr001.pi.internal.das/admin" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.50/admin" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPLBR002</h5>
							<h2><img width="80px" height="80px" src="static/logos/Pihole.png"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plplbr002.pi.internal.das/admin" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.60/admin" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
</div>
{% endblock %}
