{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid">
      


	<div class="container-fluid" style="background-color:#312139;">
	  <div class="row">
		<div class="col">
		  <h5 class="display-6 text-white ps-3 pt-2"> <a href="/" style="text-decoration:none; color:inherit;"> Dashboard  </a></h5>
		</div>
	  </div>
	</div>
	

<!-- Nav tabs -->
		
<ul class="nav nav-tabs">
		{% for name, attr in my_dict_1.items() %}
        {% if attr == "network" %}
            <li class="nav-item">
                <a class="nav-link active"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% endif %}
		{% endfor %}
</ul>

<!-- Tab panes -->

		<div class="container mx-3 my-3">
		<!-- ################################# -->
		<!-- Settings for routers goes here -->
		<!-- ################################# -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Routers</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Router 1</h5>
							<!-- <h2><i class="bi bi-router" style="font-size: 70px;"> </i></h2> -->
							<h2><img width="80px" height="80px" src="static/logos/Wireless_Router.svg"></img></h2>

						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet0.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://192.168.1.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Router 2</h5>
							<h2><img width="80px" height="80px" src="static/logos/Wireless_Router.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://wlsrt.inet1.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.1" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for switches goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Switches</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Switch 1</h5>
							<h2><img width="80px" height="80px" src="static/logos/Switch.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://sw1.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.2" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 mx-3">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">Switch 2</h5>
							<h2><img width="80px" height="80px" src="static/logos/Switch.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://sw1.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.3" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
