{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid">
      


	<div class="container-fluid" style="background-color:#312139;">
	  <div class="row">
		<div class="col">
		  <h5 class="display-6 text-white ps-3 pt-2"><a href="/" style="text-decoration:none; color:inherit;"> Dashboard  </a></h5>
		</div>
	  </div>
	</div>


<!-- Nav tabs -->
		
<ul class="nav nav-tabs">
		{% for name, attr in my_dict_1.items() %}
        {% if attr == "remote_access" %}
            <li class="nav-item">
                <a class="nav-link active"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% endif %}
		{% endfor %}
</ul>

<!-- Tab panes -->

		<div class="container mx-3 my-3">
		<!-- ################################# -->
		<!-- Settings for Dell IDRAC goes here -->
		<!-- ################################# -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>Dell Servers</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPBTH001</h5>
							<h2><img width="80px" height="80px" src="static/logos/Dell.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plpbth001.rm.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.11" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- ################################# -->
		<!-- Settings for HP ILO goes here -->
		<!-- #################################	 -->
		<div class="border text-white round-5" style="background-color:#67397a;"><h4>HP Servers</h4></div>
			<div class="row my-3">
				<div class="col-lg-2 col-md-2 mx-3 ">
					<div class="card text-center border border-primary shadow-0">
						<div class="card-body">
							<h5 class="card-title">PLPESX001</h5>
							<h2><img width="80px" height="80px" src="static/logos/HP.svg"></img></h2>
						</div>
					    <div class="row px-2 no-gutters">
							<div class="col-6">
								<h5 class="card card-block border-0"> <a href="http://plpesx001.rm.internal.das" target="_blank" rel="noopener noreferrer">Link 1</a> </h5>
							</div>
							<div class="col-6">
								<h5 class="card card-block border-0"><a href="http://10.0.0.21" target="_blank" rel="noopener noreferrer">Link 2</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
