{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid">
      


	<div class="container-fluid" style="background-color:#312139;">
	  <div class="row">
		<div class="col">
		  <h5 class="display-6 text-white ps-3 pt-2"><a href="/" style="text-decoration:none; color:inherit;"> Dashboard  </a></h5>
		</div>
	  </div>
	</div>


<!-- Nav tabs -->
		
<ul class="nav nav-tabs">
		{% for name, attr in my_dict_1.items() %}
        {% if attr == "service_monitor" %}
            <li class="nav-item">
                <a class="nav-link active"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link"  href="/{{ attr }}">{{ name }}</a>
            </li>
        {% endif %}
		{% endfor %}
</ul>

<!-- Tab panes -->

		
	<div class="container mx-3 my-3">
		<div class="row justify-content-center">
			<div class="col">
  	<table class="table table-bordered table-responsive table-hover">
		<thead>
			<tr class="text-center text-white" style="background-color:#67397a;">
				<th class="text-center" style="width:10%">Connection<br></th>
				<th class="text-center" style="width:20%">IP Address<br></th>
				<th class="text-center" style="width:20%">Host Name<br></th>
				<th class="text-center" style="width:25%">FQDN</th>
				<th class="text-center" style="width:25%">Comment</th>

			</tr>
		</thead>
		<tbody>
      {% for data in my_dict_2 %}
        <tr >
        	{% if data['connection'] %}
          <td class="text-center">  <span id="boot-icon" class="bi bi-circle-fill" style="font-size: 20px; -webkit-text-stroke-width: 0px; color: rgb(0, 255, 0);"></span>  </td>
          {% else %}
          <td class="text-center">  <span id="boot-icon" class="bi bi-circle-fill" style="font-size: 20px; -webkit-text-stroke-width: 0px; color: rgb(255, 0, 0);"></span>  </td>
          {% endif %}
		  <td>{{ data['ipaddress'] }}</td>
          <td>{{ data['hostname'] }}</td>
          <td>{{ data['fqdn'] }}</td>
          <td>{{ data['comment'] }}</td>
        </tr>
      {% endfor %}
		</tbody>
		</table>
			</div>
		
		</div>
		</div>
</div>
		
{% endblock %}
